@page
@model ShoeStoreWeb.Pages.Account.Logout
@{
    ViewData["Title"] = "Выход";
}

<div class="text-center mt-5">
    <h2 class="times-font">Выход из системы</h2>
    <p class="mt-3">Выполняется выход...</p>
</div>